<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        function onWriteSubmit(){
            //validation 추가
            //제목은 100글자 미만
            //이름의 글자수가 20 이상x
            //내용의 글자수가 1000자 이상이 되지 않는다.
            //제목,이름을 꼭입력해야한다
            var title = document.getElementById('titleInput').value;
            var name = document.getElementById('nameInput').value;
            var contents = document.getElementById('contentsInput').value;

            if(title == ""){
            alert("제목을 입력하세요");
            return false;   
            }
            if(name.length > 20){
            alert("이름은 20글자 이상 입력할수 없습니다.");
            return false;   
            }         
            if(name == ""){
            alert("이름을 입력하세요");
            return false;   
            }
            if(contents.length > 1000){
            alert("내용은 1000글자 이상 입력할 수 없습니다.");
            return false;   
            }
            if(contents == ""){
            alert("내용을 입력하세요");
            return false;
            }
        }
    </script>
  </head>
  <body>
    <h1>글쓰기</h1>
    <form method="post" action="/write" enctype="multipart/form-data" onsubmit="return onWriteSubmit()">
        <table class="table table-bordered table-hover" border="1" width="100%">
            <tr>
                <td class="table-primary text-center" style="font-size: 17px;">제목</td>
                <td><input class="form-control" type="text" name="titleInput" id="titleInput" placeholder="제목을 입력해주세요."></td>
            </tr>
            <tr>
                <td class="table-primary text-center" style="font-size: 17px;">이름</td>
                <td><input type="text" class="form-control" name="nameInput" id="nameInput" placeholder="이름을 입력해주세요."></td>
            </tr>
            <tr>
                <td class="table-primary text-center" style="font-size: 17px;">카테고리</td>
                <td>
                    <select type="text" class="btn btn-outline-primary" name="categoryInput" id="categoryInput">
                        <option value="일반" selected="selected">비회원</option>
                        <option value="회원" >회원</option>
                    </select>
                 <div class="form-check-inline" id="">
                    <label class="form-check-label" for="noti_no">
                        <input type="radio" value="0" class="form-check-input" name="noti" checked="checked" id="noti_no">일반글
                    </label>
                    </div>
                <div class="form-check-inline" id="">
                    <label class="form-check-label" for="noti_yes">
                        <input type="radio" value="1" class="form-check-input" name="noti" id="noti_yes">공지글
                    </label>
                 </div>

                </td>
            </tr>
            <tr>
                <td class="table-primary text-center" style="font-size: 19px; height:100px;">내용</td>
                <td><textarea class="form-control" style="height:200px;" name="contentsInput" id="contentsInput" cols="40" rows="5" placeholder="내용을 입력해주세요."></textarea></td>
            </tr>

            <!--파일 업로드 부분-->
            <tr><td colspan="2"><input type="file" name="myFile" class="form-control btn btn-outline-primary" id=""></td></tr>
         </table> 
         <!--     
            <div class="btn-group">    
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">공지사항
                    </label>
                    </div>
                    <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">일반글
                    </label>
                    </div>
            </div> 
        -->
                <input type="submit" style="float:right;" class="btn btn-outline-primary" value="글 등록하기">

    </form>
  </body>
</html>