body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}

.nav-link{
}

.form-inline{
 margin: 10px 0 0 27%;
}
.table-hover{
  width: 100%;
}
/* 
#w1{width: 2%;}
#w2{width: 20%;}
#w3{width: 5%;}
#w4{width: 5%;}
#w5{width: 5%;}*/

#w6{width: 100px;}
/*
#w7{width: 30%;}
#w8{width: 10%;}
#w9{width: 10%;}
 */
